* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  max-width: 1240px;
  margin: 0 auto; 
  display: flex;
  flex-direction: column; 
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Mulish', sans-serif; */
  padding: 0 20px;
}

img {
  width: 100%;
  margin-bottom: 15px;
}

h4 {
  color: #333;
  font-weight: 700;
  margin-top: 10px;
  width: 320px;
}

.icon {
  color: #eb5757;
}

.card-primeira-descricao p strong {
  margin-right: 20px;
  width: 320px;
  font-size: 15px;
  color: #4f4f4f;
  font-weight: 700;
  border: 2.3px solid #4f4f4f;
  border-radius: 13px;
  padding: 2px 5px 2px 5px;
}

.type {
  color: #828282;
  font-size: 14px;
  font-weight: 500;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
}

@media (min-width: 600px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

.card-primeira-descricao {
  display: flex;
  justify-content: space-between;
  width: 320px;
}

.rating {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

/* CSS do Component Header */

nav {
    display: flex;
    margin-top: 10px;
    height: 100px;
    align-items: center;
}

nav h1 {
  color: #eb5757;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 800;
}

input {
    margin-left: auto;
    height: 20px;
}

.container-logo {
  display: flex;
  width: 200px;
  height: 150px;
  align-items: center;
}

.logo {
  color: #eb5757;
  margin-right: 5px;
}

.countries {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: #333;
}

.countries p {
  margin-left: auto;
  color: #4f4f4f;
}
